<?xml version="1.0"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd"
         bootstrap="resources/bootstrap.php"
         cacheDirectory="resources/.phpunit.cache"
         backupGlobals="true"
         backupStaticProperties="false"
         colors="true"
         requireCoverageMetadata="false">
  <testsuites>
    <testsuite name="Client">
      <directory suffix=".php">client</directory>
    </testsuite>
    <testsuite name="Factories">
      <directory suffix=".php">factories</directory>
    </testsuite>
    <testsuite name="Actions">
      <directory suffix=".php">actions</directory>
    </testsuite>
    <testsuite name="Events">
      <directory suffix=".php">events</directory>
    </testsuite>
    <testsuite name="XSLT">
      <directory suffix=".php">xslt</directory>
    </testsuite>
  </testsuites>
  <source>
    <include>
      <directory suffix=".php">../src/PAMI</directory>
    </include>
  </source>
</phpunit>
